.Make {
  display: block;
  width: 100%;
  position: fixed;
  .MakeMandir {
    display: block;
    position: relative;
    width: 100%;

    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .Skhipdisk {
    position: absolute;
    right: 30px;
    bottom: 10px;
    background: url("https://dvf7opio6knc7.cloudfront.net/satyugImages/btn-bg.png");

    button {
      width: 270px;
      height: 72px;
      font-size: 22px;
      text-shadow: 0.03em 0.07em 0.15em rgba(0, 0, 0, 0.97);
      font-style: italic;
      color: #ffd08b;
      background: none;

      border: none;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .Make {
    display: block;
    width: 100%;
    .MakeMandir {
      display: block;
      width: 100%;
      video {
        width: 100%;
        height: 100vh;
      }
    }
    .Skhipdisk {
      bottom: 30px;
    }
  }
}
